*.binvox
*.tgz
*.tar.gz
*.gz
*.tar
*.zip
*.png
*.mtl
*.obj
*.jpg
*.jpeg
*.pyc
*.npy
*.txt
*.csv
*.pdf
*.pem
*.params
*.json
*.mp4
__pycache__
.ipynb_checkpoints
.vscode
docs
data
data_preprocessed
models
aws
out
results
params.json