events.out.tfevents*
.ipynb_checkpoints/*
__pycache__/*
ShapeNet
ShapeNet_Renders
ShapeNetRendering
ShapeNetVox32
*.binvox
*.tgz
*.tar.gz
*.gz
*.tar
*.zip
*.png
*.mtl
*.obj
*.jpg
*.jpeg
*.pyc
*.txt
*.csv
