*.binvox
*.tgz
*.tar.gz
*.gz
*.tar
*.zip
*.png
*.mtl
*.obj
*.jpg
*.jpeg
*.pyc
*.npy
*.txt
*.csv
*.pem
*.params
*.mp4
__pycache__
.ipynb_checkpoints
.vscode
docs
data
data_preprocessed
models
models_local
models_remote
aws
out
output
results